.txt-oficial{
    color:#2b3392 !important;
}
.bg-oficial{
    background-color: #2b3392;
}
.botão{
    background-color: #2b3392;
    color: #ffffff;
    border-color: #2b3392;
    font-weight: bold;    
    font-size: 16px;
}
.botão:hover {
    background-color: #2b3392;
    border-color: #2b3392;
}
nav{
    border-bottom:solid 0.1px;
    color: #2b3392;
}

.nav-link{
    font-size: 110%;
    
}
.active{
    color:#ed1f26 !important ;
    font-weight: bold;
}
.coresImportantes{
    color: #ffffff !important;
    background-color: #000000 !important;
}
.coresImportantes.botão{
    color: #000000 !important;
    background-color: #ffffff !important;
}

.risco{
    border-top:solid 0.1px !important;
    border-color: #ffffff !important;
}

.bot{
    border:solid 0.1px !important;
    border-color: #ffffff !important;
}
